@font-face {
    font-family: object;
    src: url("../fonts/ObjectSans-Bold.eot");
    src: url("../fonts/ObjectSans-Bold.ttf");
    src: url("../fonts/ObjectSans-Bold.woff");
    src: url("../fonts/ObjectSans-Bold.woff2");
  }
  html,
  body {
    background-color: #15171e;
    font-family: object;
  }

  svg.battlesvg{
    width: 200px;
    height: 56px;
    cursor: pointer;
  }

  div.menukade{
    width: 100%;
    height: inherit;
    display: flex;
    justify-content: space-between;
    
    



    div.col-2{
      height: 50px;
      background-color: #303237;
      line-height: 50px;
      

      span{
        color: rgb(136, 136, 136);
      }
    }
  }

  div.mainmenu{
    width: 100%;
    height: 50px;
    background-color: black;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: center;

    div{
      width: 100px;
      height: inherit;
      text-align: center;
      line-height: 50px;
      font-size: 13px;
      transition: 300ms;
      cursor: pointer;

      &:hover{
        background-color: #303237;
        transition: 300ms;

        div.khat{
          scale: 1;
        }
      }




      div.khat{
        width: 100%;
        height: 2px;
        background-color: aqua;
        border-radius: 5px;
        scale: 0;

       
      }
    }
  }

  div.menu {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 40px;
  }
  .bgmenu {
    background-color: #15171e;
  }
  .navbar-expand-lg .navbar-nav .dropdown-menu {
    background-color: #15171E;
    width: 300px;
    z-index: 999999 !important;
  }
  .dropdown-item.active,
  .dropdown-item:active,
  .dropdown-item:focus,
  .dropdown-item:hover {
    background-color: rgba(6, 2, 41, 0.932);
    transition: 300ms;
  }
  .leftMenu {
    left: -170% !important;
  }
  
  div.slider{
      width: 100%;
      height: 400px;
      margin-top: 20px;
     
  }
  
  div.carousel-item{
    height: 400px;
    

    img{
      height: 360px;
    }
  }

  div.card.mx-1{
    background-color: #23252B;
    color: whitesmoke;
    transition: 300ms;

    &:hover{
      background-color: #33363d;
      transition: 300ms;
    }

    div.card-body{


      h5{
        font-size: 12px;
      }
      p{
        font-size: 18px;

        span{
          font-size: 12px;
          color: #F2B400;
          display: block;
        }

        a{
          font-size: 10px;
          color: whitesmoke;
          display: block;
          margin-top: 5px;
        }
      }

    }
  }
  div.support{
    width: 50%;
    padding: 10px;
    margin: 0 auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-around;

    span{

      transition: 300ms;
      cursor: pointer;

      &:hover{
        color: #a7a7a7;
        transition: 300ms;
      }


      &::after {
        content: "";
      display: inline-block;  
          width: 1px;
          height: 10px;
          background-color: whitesmoke;
          margin-left: 15px;
      }
    }
    span.lastspan{
      &::after{
        all: unset;
      }
    }

  }
  div.oneapp{
    width: 100%;
    padding: 5px;
    background-color: #15171e;

    span{
      font-size: 14px;
    }
    a{
      font-size: 14px;
      font-weight: lighter;
      text-decoration: underline;
    }
  }
  div.byebye{
    p{
      font-size: 10px;


      a{
        color: #4F4F4F;
        text-decoration: underline;
      }
    }
  }
  div.khodayibyebye{
    width: 30%;
    padding: 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    span{
      font-size: 8px;
      transition: 300ms;
      cursor: pointer;

      &:hover{
        color: #a7a7a7;
        transition: 300ms;
      }         

      &::after {
        content: "";
      display: inline-block;  
          width: 1px;
          height: 10px;
          background-color: whitesmoke;
          margin-left: 15px;
         
      }
    }
    span.lastspan{
      &::after{
        all: unset;
      }
    }
  }